version: '3.9'

services:
  db:
    container_name: db
    image: postgres:latest
    restart: on-failure
    ports:
      - '5432:5432'
    env_file:
      - docker.env
    volumes:
      - postgres:/var/lib/postgres

volumes:
  postgres: